@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
html {
  display: grid;
  min-height: 100%;
}

body {

background-image: url(error.jfif);
background-size: cover;
background-repeat: no-repeat;
  display: grid;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

#AnaKapsayici{
  position:relative;
margin: -155px auto;
  top: 20px;
  border: 2px solid white;
  /* border-radius: 5px; */
  box-shadow: 0px 0px 10px 5px gray  ;
  width: 500px;
  height: 120px;
  background-color: white;
  opacity: 0.8;
  transition:transform 1.5s;
  
  
}

.messageText{
  text-align: center;
  padding-top:6px;
  padding-left: 10px;
  color: rgb(255, 0, 0);
  line-height: 1;
}



a:link {
  background-color: gold;
  border: 1px solid green;
  border-radius: 3px;
  text-align: center;
  line-height: 1.7;
  height: 30px;
  width: 100px;
  text-decoration: none;
  color: black;
  position: absolute;
  left: calc(100% - 300px);
  top: 87px;
}
a:hover{

    outline:1px solid red;
  outline-color:red;
  border:none;
  background-color:lawngreen ;
}



